:root {
  --color-blue: #4d5ae5;
  --color-gren: #2e2f42;
  --color-hover: #404bbf;
  --color-bg-icons: #f4f4fd;
  --color-border-icons: #8e8f99;
  --color-footer-soc: #31d0aa;
}
.body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
  outline: 2px solid red;
  outline-offset: -2px;
}
.section {
  padding: 96px 16px;
}
/* ===============
    HEDER 
==================*/
.heder {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.heder-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.logo {
  display: flex;
  font-family: Raleway, sans-serif;
  color: var(--color-blue);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-accent {
  color: var(--color-gren);
}
.heder-nav {
  display: flex;
  gap: 30px;
  flex-grow: 1;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  flex-grow: 1;
  justify-content: center;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover {
  color: var(--color-hover);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:focus {
  color: var(--color-hover);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:active::after {
  padding-bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
  left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres-tel-mail {
  font-style: normal;
}
.heder-addres {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.contacts-email-number {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-email-number:hover {
  color: var(--color-hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-email-number:focus {
  color: var(--color-hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===============
    section title
==================*/
.order-section {
  max-width: 1440px;
  background-color: var(--color-gren);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  margin: 0 auto;
}
.order-inner {
  padding: 188px 0;
}
.order-title {
  max-width: 496px;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
}
.order-button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: var(--color-blue);
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover {
  background-color: var(--color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:focus {
  background-color: var(--color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ===============
    section about company
==================*/
.visually-hidden {
  /* видалення назви */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.general-company-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.company-icon {
  display: none;
}
.company-list {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.company-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* section our team */
.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  color: var(--color-gren);
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin-left: 12px;
    margin-right: 12px;
  
}
.team-linc {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-name {
  color: var(--color-gren);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.name-person {
  padding: 32px 0;
  text-align: center;
}
.team-social {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 8px;
}
.team-social-icons {
  width: 40px;
  height: 40px;
  padding: 0;
}
.team-soc-sv {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-svg {
  fill: var(--color-bg-icons);
}
.team-soc-sv:hover {
  background-color: #404bbf;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-sv:focus {
  background-color: #404bbf;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===============
    portfolio 
==================*/
.portfolio-title {
  color: var(--color-gren);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;

  flex-shrink: 0;
}
.portfolio-linc {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
.portfolio-linc:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-name {
  color: var(--color-gren);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  padding-left: 16px;
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding-left: 16px;
}
.portfolio-name-text {
  padding: 32px 0;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}
.portfolio-everley {
  color: var(--color-bg-icons);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  top: 0;
  background: var(--color-blue);
  position: absolute;
  inset: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-linc:hover .portfolio-everley {
  transform: translateY(0%);
}

/* footer */
.footer-all {
  background: var(--color-gren);
  padding: 97.5px 0 96px;
}
.footer-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logo-box {
  align-items: baseline;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway, sans-serif;
  color: var(--color-blue);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 17.5px;
}
.footer-accent {
  color: var(--color-bg-icons);
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-bg-icons);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.footer-social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}
.footer-text-media {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-social {
  display: flex;
  gap: 16px;
  justify-content: center;
  height: 40px;
  align-items: baseline;
}
.footer-social-icons {
  width: 40px;
  height: 40px;
  padding: 0;
}
.footer-icon {
  width: 24px;
  height: 24px;
}
.footer-soc-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-img:hover {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-img:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.footer-subscribe-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.footer-email {
  background-color: #2e2f42;
  width: 288px;
  max-width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  background-color: transparent;
  font-size: 12px;
  letter-spacing: 0.04em;
  opacity: 0.3;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
}
.email::placeholder {
  color: #fff;
  font-weight: 400;
}

.subscribe {
  display: flex;
  background-color: var(--color-blue);
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: none;
  min-width: 165px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.subscribe-svg {
  margin-left: 16px;
}

/* modal */

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 0;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  min-width: 408px;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}
.modal-button-close:hover {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-button-close:active {
  fill: #fff;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-close:hover {
  fill: #ffffff;
}

.modal-icon-close:focus {
  fill: #ffffff;
}
.modal-text {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-input {
  display: block;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  outline: none;
  border: 1px solid #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  width: 18px;
  height: 18px;
  fill: rgba(46, 47, 66, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-block {
  margin-bottom: 16px;
}
.modal-textarea {
  display: block;
  max-width: 360px;
  width: 360px;
  max-height: 120px;
  height: 120px;
  flex-shrink: 0;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}
.checkbox-policy {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  position: relative;
}
.checkbox-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  vertical-align: middle;
  color: #8e8f99;
}

.modal-checkbox-chek {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-input:checked + .checkbox-text .modal-checkbox-chek {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  opacity: 1;
}
.privacy-text {
  color: #4d5ae5;
  text-decoration-line: underline;
}

/* MADIA */
@media screen and (min-width: 320px) {
  .company-icon {
    display: none;
  }

  .portfolio-linc {
    border: 1px solid var(--CLOUD, #f4f4fd);
    background: var(--WHITE, #fff);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 767.98px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
    outline: 2px solid red;
    outline-offset: -2px;
  }
  .section {
    padding: 96px 0;
  }
  /* ===============
    company
==================*/
  .general-company-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .company-list {
    text-align: left;
  }
  .com-list {
    width: calc((100% - 24px) / 2);
  }
  /* ===============
    TEAM
==================*/
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
    margin-left: 108px;
    margin-right: 108px;
  }
  .team-linc {
    width: calc((100% - 24px) / 2);
  }
/* ===============
    portfolio
==================*/
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .portfolio-linc {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-name-text {
    padding: 32px 16px;
  }
  /* ===============
    footer
==================*/
  .footer-all {
    background: var(--color-gren);
    padding: 97.5px 108px 96px;
  }
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .logo-box {
    margin-top: 0;
  }
  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-text {
    max-width: 264px;
    margin-bottom: 72px;
  }
  .footer-social-media {
    display: block;
  }
  .footer-subscribe {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .footer-subscribe-text {
    text-align: left;
  }
  .footer-email {
    width: 264px;
    max-width: 264px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 2px solid red;
    outline-offset: -2px;
  }
  .section {
    padding: 120px 0;
  }
  /* ===============
    section about company
==================*/
  .general-company-list {
    gap: 24px;
  }
  .company-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--color-border-icons);
    background: var(--color-bg-icons);
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;
  }
  .company-list {
    color: var(--color-gren);
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }
  .company-text {
    font-weight: 400;
    width: 264px;
  }
  .com-list {
    width: calc((100% - 72px) / 4);
  }
  /* ===============
    TEAM
==================*/
  .team-list {
    display: flex;
    gap: 24px;
    margin-left: 0;
    margin-right: 0;
  }
  .team-linc {
    width: calc((100% - 72px) / 4);
  }
  /* ===============
    portfolio
==================*/
  .portfolio-list {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-shrink: 0;
  }
  .portfolio-linc {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
    border: 1px solid #e7e9fc;
  }
  .portfolio-name-text {
    padding: 32px 16px;
  }
/* ===============
    footer
==================*/
  .footer-all {
    background: var(--color-gren);
    padding: 100px 0 100px;
  }
  .footer-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
  }
  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-text {
    width: 264px;
    max-width: 264px;
    margin-bottom: 0;
  }
  .footer-social-media {
    align-items: baseline;
    margin: 0 80px 0 120px;
  }
  .footer-subscribe {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .footer-email {
    width: 264px;
    max-width: 264px;
  }
}
